<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главное</title>
    <link rel="stylesheet" href="./CSS/stylecss.css">
</head>

<body>
    <div id="overlay" style="display: none;" onclick="ShowMenu();">
        <div class="menu" onclick="event.stopPropagation()">
            <div class="menu_header">
                <img src="./assets/icons/Icon.svg" alt="">
                <span class="menu_title">Sardar monkey</span>
            </div>
            <div class="menu_main">
                <button class="menu_button">k
                    <a href="#" class="">
                        Games
                    </a>
                </button>
                <button class="menu_button">
                    <a href="#" class="">
                        All Guides
                    </a>
                </button>
                <button class="menu_button">
                    <a href="#" class="">
                        My Guides
                    </a>
                </button>
                <button class="menu_button">
                    <a href="#" class="">
                        Exit: Sardarhomatv@gmail.com
                    </a>
                </button>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <button class="header_button" onclick="ShowMenu();">
                <img src="./assets/icons/Games.svg" alt="">
            </button>
        </div>
    </div>
    
    <main>
        <section class="mobile_block">
            <div class="second_header">
                <span class="txt">Home</span>
            </div>


            <div class="logo">G.A.Y</div>
            <div class="forflex">
                <div class="line"></div>
            </div>

            <div class="container">
                    <div class="basebal">
                        <div class="create_head">
                            <span class="title">Minecraft sex update</span>      
                        </div>
                        <div class="create_main">Now u can fuck sheeps (legally)</div>
                    </div>
                    <div class="basebal">
                        <div class="create_head">
                            <span class="title">Minecraft sex update</span>      
                        </div>
                        <div class="create_main">Now u can fuck sheeps (legally)</div>
                    </div>
                    <div class="basebal">
                        <div class="create_head">
                            <span class="title">Minecraft sex update</span>      
                        </div>
                        <div class="create_main">Now u can fuck sheeps (legally)</div>
                    </div>
                    <div class="basebal">
                        <div class="create_head">
                            <span class="title">Minecraft sex update</span>      
                        </div>
                        <div class="create_main">Now u can fuck sheeps (legally)</div>
                    </div>
                    <div class="basebal">
                        <div class="create_head">
                            <span class="title">Minecraft sex update</span>      
                        </div>
                        <div class="create_main">Now u can fuck sheeps (legally)</div>
                    </div>
            </div>

        </section>
    </main>

    <script src="./Js/script.js"></script>
</body>
</html>         

