{% extends 'base.html' %}
{% load static %}

{% block title %}My Guides{% endblock %}

{% block content %}
{% if user.is_authenticated%}
<section class="mobile_block">
    <div class="second_header">
        <span class="txt">My Guides</span>
    </div>

    <div class="creation">
        <a href="{% url 'create_page' %}">
            <img src="{% static 'assets/icons/Editors.svg' %}" alt="">
        </a>
        <span class="create">Create</span>
    </div>

    {% for guide in guides %}
    <div class="container">
        <div class="create_block">
            <div class="basebal">
                <div class="create_head">
                    <span class="title">{{ guide.title }}</span> 
                </div>
                <div class="create_main">
                    <a href="{% url 'description_page' pk=guide.pk %}">
                        <img src="{{ guide.image }}" alt="Guide Image" class="card_image">
                    </a>
                    <div class="card_txt">DATE: {{ guide.date|date:"d.m.Y" }}</div>
                    <div class="card_txt">Category: {{ guide.category }}</div>
                    <div class="card_txt">Author: {{ guide.creator }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% else %}
<section class="mobile_block">
    <div class="container">
        <h1 class="title">You are an anonymous user</h1>
        <p class="dark_text">To view the guides, first register and log in</p>
        <p class="dark_text"> </p>
        <div class="access-action">
            <a href="{% url 'sign_up_page' %}" class="main_btn">Sign up</a>
            <a href="{% url 'login_page' %}" class="main_btn">Login</a>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}